.settings-container {
    margin-left: 300px;
    margin-top: 100px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #091a3a;
    max-width: 700px;
    height: 500px;
}

.settings {
    text-align: center;
    margin-bottom: 20px;
}

.settings p {
    font-size: 17px;
    color: black;
}