<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <header>
        <div class="thinkytots">
            <img src="{{ url_for('static', filename='images/thinkytots.jpg') }}" alt="thinkytots-image" class="thinkytots-logo">
        </div>
        <i class="fa-solid fas fa-bars" id="menu-button" onclick="menuButtonClicked()"></i>

        <div class="user">
            <a href="{{ url_for('public.profile') }}">
                <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="user-image" class="user-profile">
            </a>
            <span id="username">{{ current_user.username }}</span>
        </div>
    </header>
    <div class="sidebar">
        <ul>
            <li>
                <a href="{{ url_for('public.home') }}"><i class="fa-solid fas fa-home"></i>
                <span class="nav-text">Dashboard</span></a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="{{ url_for('public.settings') }}"><i class="fa-solid fas fa-cogs"></i>
                <span class="nav-text">Settings</span></a>
                <span class="tooltip">Settings</span>
            </li>
            <li>
                <a href="{{ url_for('public.logout') }}"><i class="fa-solid fas fa-sign-out-alt"></i>
                <span class="nav-text">Logout</span></a>
                <span class="tooltip">Logout</span>
            </li>
        </ul>
    </div>
    <section class="main-container">
        <div class="dashboard-container">
            <h1>Choose your quiz 🤞</h1>
            <div class="dashboard-content1">
                <a href="{{ url_for('public.alphabets') }}">
                    <img src="{{ url_for('static', filename='images/alphabets.jpg') }}" alt="alpha">
                    <h1>Alphabets</h1>
                </a>       
            </div>
            <div class="dashboard-content2">
                <a href="{{ url_for('public.numbers') }}">
                    <img src="{{ url_for('static', filename='images/numbers.jpg') }}" alt="numbers">
                    <h1>Numbers</h1>
                </a>               
            </div>
            <div class="dashboard-content3">
                <a href="{{ url_for('public.alphas') }}">
                    <img src="{{ url_for('static', filename='images/alphabets.jpg') }}" alt="alphabets">
                    <h1>Alphabets Puzzle</h1>
                </a>
            </div>
            <div class="dashboard-content4">
                <a href="{{ url_for('public.numrix') }}">
                    <img src="{{ url_for('static', filename='images/numbers.jpg') }}" alt="numbers">
                    <h1>Numbers Puzzle</h1>
                </a>
            </div>
        </div>

        <div class="leaderboard-container">
            <h1>Leader's Board</h1>
            <ul>
                <li>username</li>
            </ul>
        </div>
    </section>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>