<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/numrix.css') }}">
</head>
<body>
    <header>
        <div class="thinkytots">
            <img src="{{ url_for('static', filename='images/thinkytots.jpg') }}" alt="thinkytots-image" class="thinkytots-logo">
        </div>
        <i class="fa-solid fas fa-bars" id="menu-button" onclick="menuButtonClicked()"></i>

        <div class="user">
            <a href="{{ url_for('public.profile') }}">
                <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="user-image" class="user-profile">
            </a>
            <span id="username">{{ current_user.username }}</span>
        </div>
    </header>
    <div class="sidebar">
        <ul>
            <li>
                <a href="{{ url_for('public.home') }}"><i class="fa-solid fas fa-home"></i>
                <span class="nav-text">Dashboard</span></a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="{{ url_for('public.settings') }}"><i class="fa-solid fas fa-cogs"></i>
                <span class="nav-text">Settings</span></a>
                <span class="tooltip">Settings</span>
            </li>
            <li>
                <a href="{{ url_for('public.logout') }}"><i class="fa-solid fas fa-sign-out-alt"></i>
                <span class="nav-text">Logout</span></a>
                <span class="tooltip">Logout</span>
            </li>
        </ul>
    </div>
    <section class="main-container">
        <div class="content">
            <h1 id="puzzle-1">Arrange Numbers in Numerical Order</h1>
            <div class="numbers" id="numbers-order">
                <div class="box" id="box-1"></div>
                <div class="box" id="box-2"></div>
                <div class="box" id="box-3"></div>
                <div class="box" id="box-4"></div>
                <div class="box" id="box-5"></div>
                <div class="box" id="box-6"></div>
                <div class="box" id="box-7"></div>
                <div class="box" id="box-8"></div>
            </div>
            <p id="time">TIMER</p>
            <div class="numbers" id="numbers-displayed">
                <div class="box">{{ number_displayed[0] }}</div>
                <div class="box">{{ number_displayed[1] }}</div>
                <div class="box">{{ number_displayed[2] }}</div>
                <div class="box">{{ number_displayed[3] }}</div>
                <div class="box">{{ number_displayed[4] }}</div>
                <div class="box">{{ number_displayed[5] }}</div>
                <div class="box">{{ number_displayed[6] }}</div>
                <div class="box">{{ number_displayed[7] }}</div>
            </div>
        </div>
    </section>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='js/numrix.js') }}"></script>
</body>
</html>